body {
    background-color: #000000;
    opacity: 1;
    background-image: radial-gradient(#000000 2px, #242424 2px);
    background-size: 20px 20px; 
}
#text {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(#242424); 
}
.unselectable {
    color: white;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.clickerimg{
    border: 5px solid #030303;
  border-radius: 1px;
  padding: 0px;
  width: 150px;
}
.link {
    margin-left: 90px;
    color: #034ce7;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    background-color: rgb(#242424); 
}
#clickerlink{
    margin-left: 50px;
    background-color: rgb(#242424); 
}
#carlink{
    margin-left: 75px;
    background-color: rgb(#242424); 
}
#okko {
    color: white;
}
#joko {
    background-color: #242424;
}