body {
    background: linear-gradient(180deg, #8af8ef 0%, #ff9ab8 100%)no-repeat center center fixed ;
    background-size:cover ;
}
#text {
    font-family: 'Courier New', Courier, monospace;
}
.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
