#clickme {
    margin-top:15% ;
    margin-left: 45%;
}
html{
    background-color: blueviolet;
    user-select: none;
    -webkit-user-drag: none;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

#borgors{
    font-family: "Chewy", system-ui;
    font-size: 100px;
    display: block;
    width: 200px;
    text-align: center;
}
table {
    border-radius: 5px;
    border:2px solid black;
    width: 500px;
    height: 500px;
    background-color: #ffffff;
    cursor: pointer;
    border-spacing: 0px;
    border-collapse: collapse;
    user-select: none;
    
    overflow-y: scroll;
  }
  td{
    border-radius: 5px;
    border-bottom:2px solid rgb(0, 0, 0);
    
    
  }
  #shop {
    border-radius: 5px;
    position: absolute;
    top: 10px;
  }
#brgr {
    cursor: pointer;
}

