#clickme {
    margin-top:15% ;
    margin-left: 45%;
}
html{
    
    user-select: none;
    -webkit-user-drag: none;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    
}

#borgors{
    font-family: "Chewy", system-ui;
    font-size: 100px;
    display: block;
    width: 200px;
    text-align: center;
}
table {
    border-radius: 0px;
    border:none;
    width: 500px;
    height: 500px;
    background-color: #ffffff;
    cursor: pointer;
    border-spacing: 0px;
    border-collapse: collapse;
    user-select: none;
    
    overflow-y: scroll;
  }
  #border{
    border-radius: 0px;
    border-bottom:2px solid rgb(0, 0, 0);
    
    
  }
  #shop {
    border: none;
    border-radius: 0px;
    position: absolute;
    top: 0px;
  }
#brgr {
    cursor: pointer;
}
td:hover{
  background-color: #bdbcbc !important;
}
td:active{
  background-color: #837272 !important;
}
td{
  border-radius: 0px;
}
#color {
  margin-left: 95%;
}
body{
  background-color: rgb(119, 40, 95);
}
.shop-img {
  width: 50px;
  float: left;
}
.shop-img img {
  height: 100px;
  width: 100px;
}
.shop-price {
  float: left;
  padding-left: 50px;
  padding-top: 10px;
}