#clickme {
    margin-top:20% ;
    margin-left: 45%;
}
html{
    background-color: blueviolet;
}

#borgors{
    font-family: "Chewy", system-ui;
    font-size: 100px;
    display: block;
    width: 200px;
    text-align: center;
}
